/* Your Website Styles */
 
h1 {
	font-family: 'Francois One', sans-serif;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-family: 'Roboto Slab', serif;
}

body {
	background: #ffffff;
}


div {
	margin-top: -60px;	x 
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}