/* Your Website Styles */
 
/* Headings */

h1 {
	font-family: 'Francois One', sans-serif;
	font-size: 100px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2em;
	margin-left: 50px;
}

h2#about {
	margin-top: -20px;
}

h3 {
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 50px;
	margin-top: -15px;
	font-size: 1.1em;
}

h4 {
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 50px;
	margin-top: -15px;
}

/* Paragraph */

p {
	font-family: 'Roboto Slab', serif;
	color: #778899;
	font-weight: 300;
	font-size: 1em;
	line-height: 21px;
	margin: -15px 50px 15px 70px;
}

p#contact {
	margin-bottom: 30px;
}

p#work {
	margin-bottom: 30px;
}

body {
	background: #ffffff;
}


div {
	margin-top: -60px;	x 
}

.year {
	font-family: 'Roboto Condensed', sans-serif;
	background: #ccc;
	color: black;
	text-align: center;
	float: right;
	width: 150px;
	margin-top: -40px;
}

/* Lines */

hr {
	margin-top: -50px;
	width: 950px;
}

/* Icons */

.personal-icon {
	border-radius: 100%;
	width: 175px;
	height: 175px;
	margin-left: 140px;
	margin-top: 50px;
}

.contact-icon {
	width: 30px;
	height: 30px;
	margin: 0 10px -10px 0px;
}

/* Links */

a {
	text-decoration: none;
	color: #778899;
}

/* Footer */

p#footer {
	font-size: 13px;
	text-align: center;
	color: #ccc;
	margin-top: 40px;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}